#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

html {
    position: relative;
    min-height: 100%;
    margin: auto;

}

body {
    /* bottom = footer height */
    padding: 50px;
}

footer {
    background-color: lightblue;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}

.lives {
    margin: auto;
    position: relative;
    right: 5%;
    text-align: right;
    font-style: bold;
    font-size: 25px
}


.drawing {
    width: 200px;
    height: 120px;
    position: relative;
    left: 5%;
    top: -69px;
}

/* resize images */

.drawing img {
    width: 100%;
    height: auto;
    position: relative;
}


.guessingLetters {
    max-width: 580px;
    display: table;
    margin: auto;
}

.guessingLetters ul {
    padding: 0px;
}

.guessingLetters li {
    text-align: center;
    float: left;
    list-style: none;
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 2px;
    cursor: pointer;
    border: solid 1px #fff;
    display: inline;
}

.guessingWord {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    display: table;
    padding: 0;
}

.guessingWord li {
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 40px;
    float: left;
    list-style: none;
}

.wrapper {
    text-align: center;
}

button {
    position: relative;
    top: 50%;
}
